# Core libraries
transformers==4.36.2
spacy==3.8.7
sentencepiece==0.2.0
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
langdetect==1.0.9
pdfplumber==0.11.7
pypdf==5.9.0
python-dotenv==1.1.1
flask
tqdm

# CPU-only PyTorch and accelerate
torch==2.3.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
accelerate
